<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Room Rental</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container mt-5">
  <h2 class="mb-4">Add New Property</h2>

  <form th:action="@{/properties/update}" th:object="${property}" method="post" enctype="multipart/form-data">
    <input hidden type="text" th:field="*{propertyId}">
    <input hidden type="text" th:field="*{hostId}">
    <div class="mb-3">
      <label for="propertyName" class="form-label">Property Name</label>
      <input type="text" th:field="*{propertyName}" class="form-control" id="propertyName" name="propertyName" required>
    </div>

    <div class="mb-3">
      <label for="address" class="form-label">Address</label>
      <input type="text" th:field="*{address}" class="form-control" id="address" name="address" required>
    </div>

    <div class="mb-3">
      <label for="city" class="form-label">City</label>
      <input type="text" th:field="*{city}" class="form-control" id="city" name="city" required>
    </div>

    <div class="mb-3">
      <label for="area" class="form-label">Area</label>
      <input type="text" th:field="*{area}" class="form-control" id="area" name="area">
    </div>

    <div class="mb-3">
      <label for="area" class="form-label">Area</label>
      <input type="number" th:field="*{dayPrice}" class="form-control" id="dayPrice" name="area">
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" th:field="*{description}" id="description" name="description"></textarea>
    </div>

    <div class="mb-3">
      <label class="form-label">Active</label>
      <div>
        <input type="radio" id="activeYes" name="active" value="true" checked>
        <label for="activeYes">Yes</label>

        <input type="radio" id="activeNo" name="active" value="false">
        <label for="activeNo">No</label>
      </div>
    </div>
    <div class="mb-3">
      <select
              required
              class="form-control"
              th:field="*{propertyTypeId}"
      >
        <th:block th:each="propertyType :${propertyType}">
          <option
                  th:text="${propertyType.getTypeName()}"
                  th:value="${propertyType.getPropertyTypeId()}"
          ></option>
        </th:block>
      </select>
    </div>
    <div class="mb-3">
      <select
              required
              class="form-control"
              th:field="*{country}"
      >
        <th:block th:each="country :${countries}">
          <option
                  th:text="${country.getCountryName()}"
                  th:value="${country.getCountryId()}"
          ></option>
        </th:block>
      </select>
    </div>

    <div class="mb-3">
      <label for="images" class="form-label">Images</label>
      <input type="file" class="form-control" id="images" name="imageFiles" multiple>
    </div>

    <button type="submit" class="btn btn-success">Add Property</button>
    <a th:href="@{/properties/yourProperties}" class="btn btn-secondary">Cancel</a>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
